{% extends "core/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block contenido %}
<div class="container pagina">
    <div class="container row col-2 col-md-1" style="text-align: left;">
        <a href="{% url 'empleado_alta' %}">
            <img src="{% static 'img/agrega.svg' %}" alt="">
        </a>
    </div>
    <br>
    <div class="container row col-md-6">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="row" class="col-md-1 text-center">Número</th>
                    <th class="col-md-4 text-center">Nombre</th>
                    <th class="col-md-1 text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for d in object_list %}
                <tr>
                    <th scope="row" class="text-center">{{d.id}}</th>
                    <td>{{d.nombre_completo}}</td>
                    <td><a href="{% url 'empleado_modifica' d.id %}" class="btn btn-success btn-sm " tabindex="-1" role="button"
                            aria-disabled="true">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}